<?xml version="1.0" ?>
<robot name="bodot">

    <material name="blue">
        <color rgba="0 0 0.8 1"/>
    </material>
    <material name="red">
        <color rgba="0.8 0 0 1"/>
    </material>
    <material name="green">
        <color rgba="0 0.8 0 1"/>
    </material>
    <material name="grey">
        <color rgba="0.75 0.75 0.75 1"/>
    </material>
    <material name="white">
        <color rgba="1.0 1.0 1.0 1"/>
    </material>
    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>


  <link name="base_footprint"/>
  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>

  <link name="base_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.29 0.29 0.26"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>

  <joint name="wheel_left_joint" type="fixed">
    <parent link="base_link"/>
    <child link="wheel_left_link"/>
    <origin xyz="0.11 0.17 -0.145" rpy="-1.57 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="wheel_left_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.05" radius="0.04"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>


  <joint name="wheel_right_joint" type="fixed">
    <parent link="base_link"/>
    <child link="wheel_right_link"/>
    <!--<origin xyz="0 -0.145 -0.145" rpy="-1.57 0 0"/>-->
    <origin xyz="0.11 -0.17 -0.145" rpy="-1.57 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="wheel_right_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.05" radius="0.04"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>


  <joint name="caster_joint_1" type="fixed">
    <parent link="base_link"/>
    <child link="caster_link_1"/>
    <origin xyz="-0.145 0 -0.145" rpy="-1.57 0 0"/>
  </joint>

  <link name="caster_link_1">
      <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.04"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>
  

  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0" rpy="0 0 1.57"/>
  </joint>

  <link name="imu_link"/>


  <joint name="scan_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_laser"/>
    <origin xyz="0.105 0 0.15" rpy="0 0 -3.14"/>
  </joint>

  <link name="base_laser">
    <visual>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.04" radius="0.035"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>


</robot>
